.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form_wrap {
  width: 400px;
}

.tab_group {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 5px 9px;
  font-size: larger;
  cursor: pointer;
}

.tab:hover {
  border-bottom: 2px solid black;
}

.tab_select {
  border-bottom: 2px solid black;
}

.content {
  height: 400px;
  padding: 20px 0;
}