.label {
    font-size: medium;
  }
  
  .input_wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
  }
  
  .login_button {
    padding: 7px 25px;
    cursor: pointer;
    font-size: medium;
    border: none;
    background-color: var(--black-night);
    color: var(--white-smoke);
    border-radius: 5px;
    transition: ease-out;
  }
  
  .login_button:enabled:active {
      background-color: var(--white-smoke);
      color: var(--black-night)
  }
  
  .login_button:disabled {
      cursor: not-allowed;
  }
  
  .login_wrap {
      display: flex;
      justify-content: flex-end;
  }